<%- include("header"); %>
<html lang="en" class="full-height">


            <div class="jumboton text-center myNav">
                <a href="/login" class="btn btn-lg success">Login</a>
                <a href="/signup" class="btn btn-lg success">Register</a>
            </div>
